body {
  background-color: #1a2a44;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

h2 {
  margin: 20px 0 10px 20px;
  font-size: 1.5rem;
}

.movie-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  width: 100%;
  position: relative;
  z-index: 2;
}

.movie-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome & Safari */
}

.favorites-row {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
}

.movie-card {
  position: relative;
  flex: 0 0 auto;
  width: 150px;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.image-container {
  position: relative;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.138);
}

.movie-info {
  padding: 10px;
}

.movie-info h3 {
  margin: 0;
  font-size: 1.1rem;
  color: white;
}

.movie-card .movie-info h3 a {
  color: white !important;
  text-decoration: none !important;
}

.movie-card .movie-info h3 a:hover {
  color: #e0e0e0 !important;
  text-decoration: none !important;
}

.movie-card a {
  text-decoration: none !important;
}

.movie-card a:hover {
  text-decoration: none !important;
}

.favorite-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .favorite-overlay {
  opacity: 1;
}

.favorite-overlay span {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.favorite-overlay .favorite-icon {
  color: red;
  font-size: 1.2rem;
}

.remove-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.remove-favorite .remove-icon {
  color: white;
  font-size: 1.2rem;
}

.search-bar-form {
  max-width: 600px;
  margin: 0 auto 20px;
}

.search-input {
  flex: 1;
  border-radius: 4px;
}

button {
  border-radius: 4px;
}

.d-flex {
  gap: 10px;
}

.custom-search-button {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: background 0.3s ease, color 0.3s ease;
}

.custom-search-button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.movie-list-container {
  display: flex;
  align-items: center;
  position: relative;
}


.movie-list-container:hover .scroll-btn {
  opacity: 1;
}

.scroll-btn {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.movie-hover-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.712); 
  padding: 8px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}


.image-container:hover .movie-hover-info {
  opacity: 1;
  visibility: visible;
}

.movie-title {
  background-color: rgba(0, 0, 0, 0.291);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: fit-content;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-title h2 {
  margin: 0;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.movie-details-content {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  opacity: 0; 
  animation: fadeIn 1s ease-in-out forwards;
}

.movie-overview {
  font-size: 40px;
  padding: 20px;
}


.movie-poster {
  width: 60%;
  height: auto;
  display: flex;
  overflow: hidden;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}


.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1; 
  transition: background 0.3s ease;
}


@media (max-width: 1200px) {
  .movie-details-content {
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    gap: 20px; 
    animation: fadeInColumn 0.5s ease-in-out forwards; 
  }

  .movie-poster {
    width: 100%; 
    max-width: 400px; 
  }

  .movie-overview {
    font-size: 1.5rem; 
    padding: 10px;
  }
}


@keyframes fadeInColumn {
  0% {
    opacity: 0; 
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
