* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.movie-container{
  display: flex;
  flex-wrap: nowrap;
}

.movie-card {
  background-color: #373b69;
  border-radius: 3px;
  margin: 1rem;
 
}

.movie-card img {
  width: 250px;
  height: 280px;
}

.movie-info{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.movie-info h3 {
 margin: 0;
}
